.btn-copy {
  align-self: end;
  border: none;
  border-radius: 8px;
  font-size: 12px;
}

.non-selectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}